.footer-div {
    height: 400px;
    width: 100%;
    background-color: rgb(47, 183, 218);
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
    /* border: 2px solid green; */
}
.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid blue; */
    font-size: 13px;
    
}
h5 {
    font-size: 16px !important;
    margin-bottom: 20px !important;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-left: 41%;
    margin-right: 45%;
}
.social-media-logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.copy-tag {
    margin-left: 38%;
    margin-right: 36%;
    font-size: 14px;
    margin-top: 30px;
}